@{
    Operaciones us = Model;
    ViewData["Title"] = "Calculadora";
}

<body>
    <main style="display: flex; margin: auto; justify-content: center;">
        <div class="calculadoraCientifica">
            <div class="cabeza" style="margin-bottom:10px;">
                <div class="header">
                    <div class="parteArribaIzq">CASIO</div>
                    <div class="parteArribaDcha">Chang</div>
                </div>
                <div class="nombre">
                    S-V.P.A.M
                </div>
            </div>
            <div class="screen">
                <label type="text" id="resultSave" readonly> </label>
                @if (us != null)
                {
                    <label type="text" id="result" readonly>@us.ExpresionMatematica</label>
                }
                else
                {
                    <label type="text" id="result" readonly>0</label>
                }

            </div>
            <div class="button">
                <div id="hidde">
                    <ul id="listaOperacionesMath"></ul>
                </div>
                <div class="inferior">
                    <ul id="listaNumeros"></ul>
                    <ul id="listaOperacionesBasicas"></ul>
                </div>
            </div>
        </div>
    </main>
</body>
@section Scripts{

    <script src="~/js/calc.js"></script>

}